.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
